flows.json
[{"id":"89b1a035.a7a28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bf5a1e54.5c3b","type":"ibmiot in","z":"89b1a035.a7a28","authentication":"apiKey","apiKey":"34cb0e5d.91d932","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":240,"wires":[["d560a88f.928908","f72c1889.c8c8d8","3afc88c4.dbb6d8","4a44b3c3.1c664c"]]},{"id":"d560a88f.928908","type":"function","z":"89b1a035.a7a28","name":"Temperature","func":"global.set('t',msg.payload.temperature)\nmsg.payload = msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["a9573947.b5fd48"]]},{"id":"f72c1889.c8c8d8","type":"function","z":"89b1a035.a7a28","name":"Humidity","func":"global.set('h',msg.payload.humidity)\nmsg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":320,"wires":[["caef0391.1b63e"]]},{"id":"3afc88c4.dbb6d8","type":"function","z":"89b1a035.a7a28","name":"Air quality","func":"global.set('a',msg.payload.air_quality)\nmsg.payload = msg.payload.air_quality\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["f6a091a2.1e407","67a67eb6.df22d"]]},{"id":"a9573947.b5fd48","type":"ui_chart","z":"89b1a035.a7a28","name":"","group":"22874f3c.2c076","order":3,"width":13,"height":5,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":240,"wires":[[]]},{"id":"caef0391.1b63e","type":"ui_gauge","z":"89b1a035.a7a28","name":"","group":"22874f3c.2c076","order":1,"width":10,"height":5,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":320,"wires":[]},{"id":"f6a091a2.1e407","type":"ui_chart","z":"89b1a035.a7a28","name":"","group":"22874f3c.2c076","order":8,"width":24,"height":6,"label":"Air Quality","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":790,"y":160,"wires":[[]]},{"id":"e42ce5ff.bcef48","type":"http in","z":"89b1a035.a7a28","name":"","url":"/data2","method":"get","upload":false,"swaggerDoc":"","x":100,"y":380,"wires":[["88e74b18.8ac998"]]},{"id":"e0c274d9.08c378","type":"http response","z":"89b1a035.a7a28","name":"","statusCode":"","headers":{},"x":1050,"y":380,"wires":[]},{"id":"88e74b18.8ac998","type":"function","z":"89b1a035.a7a28","name":"Cargo","func":"msg.payload ={\n  \"temperature\" :global.get('t'),\n  \"humidity\" :global.get('h'),\n  \"air_quality\" :global.get('a')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":380,"wires":[["e0c274d9.08c378"]]},{"id":"cb8e9988.743f38","type":"mqtt in","z":"89b1a035.a7a28","name":"","topic":"Cargo management","qos":"0","datatype":"auto","broker":"7212b623.e38288","nl":false,"rap":true,"rh":0,"x":270,"y":440,"wires":[["f991c31b.38ee3"]]},{"id":"9e3759f6.87c038","type":"function","z":"89b1a035.a7a28","name":"updates","func":"msg.payload ={\n  \"temperature\" :global.get('t'),\n  \"humidity\" :global.get('h'),\n  \"air quality\" :global.get('a')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":520,"wires":[["f9c6675b.e8c0f8"]]},{"id":"67a67eb6.df22d","type":"switch","z":"89b1a035.a7a28","name":"AQ","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"25","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":80,"wires":[["b40cc0ca.73b85"]]},{"id":"b40cc0ca.73b85","type":"http request","z":"89b1a035.a7a28","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=kJXhF54bTMmRPdY9BtwolGWSfp0V2rIsaqEQ1cy6ixDzZ83ULCKjam7kFMZwUzxbJyEhWv5tpicH2Iqs&route=q&message=Low%20air%20quality%20&language=english&flash=0&numbers=9502740587","tls":"","persist":false,"proxy":"","authType":"","x":850,"y":80,"wires":[["bb013732.a92ba8"]]},{"id":"bb013732.a92ba8","type":"debug","z":"89b1a035.a7a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":80,"wires":[]},{"id":"4a44b3c3.1c664c","type":"cloudant out","z":"89b1a035.a7a28","name":"","cloudant":"","database":"cargo-management","service":"node-red-vmsnc-2021--cloudant-1621487282319-78963","payonly":false,"operation":"insert","x":350,"y":80,"wires":[]},{"id":"f991c31b.38ee3","type":"debug","z":"89b1a035.a7a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":440,"wires":[]},{"id":"f9c6675b.e8c0f8","type":"mqtt out","z":"89b1a035.a7a28","name":"Cargo management","topic":"Cargo management","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7212b623.e38288","x":1060,"y":520,"wires":[]},{"id":"183476b4.ca8c59","type":"inject","z":"89b1a035.a7a28","name":"Publish","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":520,"wires":[["9e3759f6.87c038"]]},{"id":"acf1fead.55db2","type":"inject","z":"89b1a035.a7a28","name":"location feed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":600,"wires":[["3ae020.21e79fe"]]},{"id":"3ae020.21e79fe","type":"http request","z":"89b1a035.a7a28","name":"Tracker","method":"GET","ret":"bin","paytoqs":"ignore","url":"https://miapp.ca/GTFS_RT/Vehicle/VehiclePositions.pb","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":600,"wires":[["29303e5d.892912"]]},{"id":"29303e5d.892912","type":"gtfs-feed","z":"89b1a035.a7a28","name":"Feed","x":630,"y":600,"wires":[["8abf73db.93a02"]]},{"id":"e6edecc7.b4947","type":"debug","z":"89b1a035.a7a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":600,"wires":[]},{"id":"8abf73db.93a02","type":"change","z":"89b1a035.a7a28","name":"Change","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entity.vehicle","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$map(\t   msg.payload,\t   function($v, $k, $a) {\t       {\t           \"trip_id\": $v.trip.trip_id,\t           \"id\": $v.vehicle.id,\t           \"latitude\": $v.position.latitude,\t           \"longitude\": $v.position.longitude,\t           \"current_status\": $v.current_status,\t           \"timestamp\": $v.timestamp,\t           \"name\": $v.vehicle.id,\t           \"label\": $v.vehicle.label,\t            \"lat\": $v.position.latitude,\t            \"lon\": $v.position.longitude,\t            \"SIDC\": \":bus:\",\t            \"icon\": \":container:\",\t            \"options\": { \"fillOpacity\":0.8 }\t    \t       }\t    }\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":600,"wires":[["e6edecc7.b4947","5c731008.8127d"]]},{"id":"5c731008.8127d","type":"worldmap","z":"89b1a035.a7a28","name":"","lat":"17.5205503","lon":"78.6288386","zoom":"15","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/container","x":1120,"y":680,"wires":[]},{"id":"34cb0e5d.91d932","type":"ibmiot","name":"GCET","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"22874f3c.2c076","type":"ui_group","name":"","tab":"2f80c27b.dc3b2e","order":2,"disp":true,"width":24,"collapse":false},{"id":"7212b623.e38288","type":"mqtt-broker","name":"updates","broker":"broker.mqttdashboard.com","port":"1883","clientid":"node.red.client","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2f80c27b.dc3b2e","type":"ui_tab","name":"Cargo","icon":"dashboard","disabled":false,"hidden":false}]